@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $("#submissionDetails").on('submit', function (event) {
        event.preventDefault();
        // create form data
        var formData = new FormData();
        //grab the file that was provided by the user
        var file = $('.file-upload')[0].files[0];
        // Loop through each of the selected files.
        formData.append('file', file);
        if (file) {
            // Perform the ajax post
            $.ajax({
                url: '@Url.Action("ParseCsv")',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    alert(data);
                }
            });
        }
    });
</script>
<script type="text/javascript">
            $("#generatedHashes").on('submit', function (event) {
                event.preventDefault();
                var formData = new FormData();
                var data = document.getElementById("fooField").value;
                formData.set("generatedhashes", data);
            $.ajax({
                url: '@Url.Action("GetHashesPerQuestion")',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    alert(data);
                }
            });
        });
</script>
<noscript>
    <h1>Please enable JavaScript. This tool uses 100% free JavaScript. View page source for license and code.</h1>
    <h2>Version 1.0.0<br>Learn how to verify the integrity and authenticity of this tool at the <a href="https://github.com/sprin/TrustyHash">TrustyHash homepage</a>.</h2>
    <div id="noscript-overlay"></div>
</noscript>
<form action="#" method="post" enctype="multipart/form-data" id="submissionDetails">

    <label for="file">Filename:</label>
    <input type="file" class="file-upload" name="FileUpload" id="file" />
    <input type="submit" />
</form>
<form action="#" method="post" enctype="multipart/form-data" id="generatedHashes">
    <input type="hidden" id="fooField" name="fooField" value="bar" />
    <input type="submit" asp-action="GetHashesPerQuestion" />
</form>
<div data-l10n-id="drop-area-label" id="drop-area">Drop files here</div>
<p>
    <input autocomplete="off" type="file" id="fileinput" />
    <a href="#" onclick="download_table_as_csv('hashTable');">Download as CSV</a>
    <button onclick="clearResult()">clear table</button>
    <div id="container"></div>

